@import './styleVars.css';

/* -------------------------------- CLASES GENERALES -------------------------------- */

ul {
	margin: 0;
	padding: 0;
}

li {
	margin: 0;
	padding: 0;
	list-style: none;
}
* {
	box-sizing: border-box;
}
/* -------------------------------- CLASES CONTAINERS -------------------------------- */

.appContainer {
	text-align: center;
	margin: 0;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, 1fr);
	max-height: 100vh;
}

.headerContainer {
	padding: 2rem;
	background-color: var(--primary-color);
}

.bodyContainer {
	padding: 0 10%;
	text-align: left;
	height: 60vh;
	overflow: hidden scroll;
	background-color: var(--secondary-color);
	width: 100%;
}


.footerContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-color);
	width: 100%;
	padding: 0 10%;
}

/* -------------------------------- CLASES TEXTOS -------------------------------- */

.header-text {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 24pt;
}

.subheader-text {
	font-weight: 500;
	font-size: 14pt;
}

.regular-text {
	font-weight: 500;
	font-size: 12pt;
}

.bold-text {
	font-weight: 700 !important;
}

.primary-text-color{
	color: var(--text-color-primary)
}
.secondary-text-color{
	color: var(--text-color-secondary)
}
.tertiary-text-color{
	color: var(--text-color-tertiary)
}
